/* App.css */
.bg-light-theme {
    background-color: #ffffff;
    /* Define los colores del tema claro */
    color: #000000;
}

.bg-dark-theme {
    background-color: #121212;
    /* Define los colores del tema oscuro */
    color: #ffffff;
}